html {
  height: 100%;
  width: 100;
  transition: 3s;
}
*{
  transition: 1s;
}
@font-face {
  font-family: Days;
  src: url(DAYS.TTF);
}
@font-face {
  font-family: OpenRundeBold;
  src: url(OPENRUNDE-BOLD.OTF);
}
@font-face {
  font-family: OpenRundeMed;
  src: url(OPENRUNDE-MEDIUM.OTF);
}
@font-face {
  font-family: OpenRundeReg;
  src: url(OPENRUNDE-REGULAR.OTF);
}
body{
  background-color: #213629;
}
.nav{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #63a375  ;
  height: 80px;
  width:100%;
}
.nav img{
  flex:2;
  padding-right: 30px;
}
.nav a{
  display: flex;
  color: white;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-family: OpenRundeMed;
  letter-spacing: 4px;
  text-decoration: none;
  flex:1;
}
.nav a:hover{
  background-color:white;
  color:  #63a375 ;
  letter-spacing: 10px;
}
#header{
  font-family: OpenRundeBold;
  font-size: 18px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color:#63a375;
  
}
.headText{
  margin:0.5%;
}


#lesson{
  display: flex;
  padding: 10px;
  margin:4%;
}
.container {
  
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: rgba(99,136,113,50%);
  border-radius: 4px;
  color:rgba(99,136,113,100%);
  
}
.container h1{
  font-family: OpenRundeBold;
}


.image {
  
  display: block;
  width: 100%;
  height: auto;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#63a375 ;
  height: 400px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: OpenRundeReg;
}
.text h3{
  font-size: 20px;
  padding: 10px;
}
.text a{
  font-size: 15px;
  color:#63a375;
  background-color: rgba(255,255,255,60%);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
 
}
.text a:hover{
  letter-spacing: 4px;
}

#footer{
  display: flex;
  justify-content: center;
  font-family: Verdana;
  padding:20px;
  font-size:15pt;
  background-color:#63a375;
  text-align: left;
}

#imgside{
  padding:20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 30%;
}

#imgside *{
  flex:1;
}
#imgside h3{
  font-size:20pt;
  color:white;
}
#imgside a{
  text-decoration: none;
  padding:5px;
  margin-left:10px;
  color:rgba(0, 0, 0, 0.767);
  letter-spacing: 1px;
}
#imgside a:hover{
  letter-spacing: 2px;
}


#infoside{
  padding:20px;
  display: flex;
  flex-direction: column;
}

#infoside *{
  flex:1;
}
#infoside h3{
  font-size:20pt;
  color:white;
}
#infoside a{
  text-decoration: none;
  padding:5px;
  margin-left:10px;
  color:rgba(0, 0, 0, 0.767);
  letter-spacing: 1px;
}
#infoside a:hover{
  letter-spacing: 2px;
}
  

#header a{
  font-family: OpenRundeReg;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  text-decoration: none;
  color:#63a375;
}
#header a:hover{

  text-decoration: underline;
}
#header h1{
  color: #ebfaee;
}

.lesson2 :hover{
  box-shadow:
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #00ffaa,        /* outer left magenta */
    10px 0 80px #17543a;         /* outer right cyan */
}