html {
  height: 100%;
  width: 100;
}
body{
  background-color: #ebfaee;
}
*{
  transition: 1s;
}
@font-face {
  font-family: Days;
  src: url(DAYS.TTF);
}
@font-face {
  font-family: OpenRundeBold;
  src: url(OPENRUNDE-BOLD.OTF);
}
@font-face {
  font-family: OpenRundeMed;
  src: url(OPENRUNDE-MEDIUM.OTF);
}
@font-face {
  font-family: OpenRundeReg;
  src: url(OPENRUNDE-REGULAR.OTF);
}
body{
  background-color: #ebfaee;
}
.nav{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #63a375  ;
  height: 80px;
  width:100%;
}
.nav img{
  flex:2;
  padding-right: 30px;
}
.nav a{
  display: flex;
  color: white;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-family: OpenRundeMed;
  letter-spacing: 4px;
  text-decoration: none;
  flex:1;
}
.nav a:hover{
  background-color:white;
  color:  #63a375 ;
  letter-spacing: 10px;
}
#header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  font-family: OpenRundeBold;
  
}
.headText{
  margin:0.5%;
  
}
#bar{
  background-color:#002400;
  height:10px;
}

#lesson{
  display:flex; 
  justify-content: center;
}
#buttons{
  display: flex;
  flex-direction: column; 
  padding: 20px;
}
#buttons a{
  margin-top: 15%;
  padding: 20px; 
  font-size: 18px;
  background-color: rgba(99,136,113,50%);
  text-align: center;
  text-decoration: none;
  font-family: OpenRundeReg;
  color:white;
  border-radius: 3px;
}
#buttons a:hover{
  letter-spacing: 4px;
}
#content{
  display: flex;
  flex-direction: column; 
  padding: 20px;
  background-color: rgba(99,136,113,50%);
  margin:20px;;
  text-align: center;
  border-radius: 20px;
  width: 70%;

}
#content h1{
  font-family: OpenRundeMed;
}
#content h3{
  font-family: OpenRundeMed;
}
#content p{
  font-family: OpenRundeReg;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

#footer{
  display: flex;
  justify-content: center;
  font-family: Verdana;
  padding:20px;
  font-size:15pt;
  background-color:#63a375;
  text-align: left;
}

#imgside{
  padding:20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 30%;
}

#imgside *{
  flex:1;
}
#imgside h3{
  font-size:20pt;
  color:white;
}
#imgside a{
  text-decoration: none;
  padding:5px;
  margin-left:10px;
  color:rgba(0, 0, 0, 0.767);
  letter-spacing: 1px;
}
#imgside a:hover{
  letter-spacing: 2px;
}


#infoside{
  padding:20px;
  display: flex;
  flex-direction: column;
}

#infoside *{
  flex:1;
}
#infoside h3{
  font-size:20pt;
  color:white;
}
#infoside a{
  text-decoration: none;
  padding:5px;
  margin-left:10px;
  color:rgba(0, 0, 0, 0.767);
  letter-spacing: 1px;
}
#infoside a:hover{
  letter-spacing: 2px;
}
  